<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Customer List</title>
</head>
<body>

<table border="1">
    <tr>
        <th>Id</th>
        <th>Customername</th>
        <th>Update</th>
        <th>Delete</th>
    </tr>

    <tr th:each="customer: ${customerList}">
        <td th:text="${customer.id}" />
        <td th:text="${customer.name}" />
        <td >
            <form action="/mvc/customers/updateForm">
                <input type="hidden" th:value = "${customer.id}" name = "Id"/>
                <input type="submit" value="Update" />
            </form>
        </td>
        <td >
            <form action="/mvc/customers/delete">
                <input type="submit" value="Delete" />
            </form>
        </td>

    </tr>
</table>

<form action="/mvc/customers/create">
    <input type="submit" value="Create a customer" />
</form>

<p th:text="'Current date is ' + ${date}"/>

</body>
</html>